.input {
  flex: 1;
  /* background-color: yellow; */
  padding: 4px;
  border-radius: 20px;
  border: 0px;
}
.input-container {
  width: 100%;
  display: flex;
  gap: 8px;
}

.vertical{
  flex-direction: column;
  gap: 0px;
}

.label {
  line-height: 1px;
  padding: 0px;
}