.container-menu-item {
  height: 60px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  background-color: blue;
  gap: 8px;
  justify-content: space-around;
  align-items: center;
  
  flex: 1;
}

.menu-item-container {
  display: flex;
  height: 34px;
  background-color: blueviolet;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  min-width: 100px;
  cursor: pointer;
}
.menu-item-container:hover {
  opacity: 90%;
}
.menu-item-selected {
  background-color: brown;
}